doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')
        link(rel='stylesheet', href='/css/upload.css')
        title Upload image
    body
        header
        .upload
            .glass
                h1(align='center') Edit post
                .fileupload
                    //form(method='PUT' action='/' enctype="application/x-www-form-urlencoded")
                    form(action='/file/?_method=PUT' method='post' enctype="application/x-www-form-urlencoded")
                        |
                        input(type='hidden', name='_id', value=file.id)
                        br
                        | Title:
                        input(type='text', name='title', value=file.title)
                        br
                        |   Description:
                        input(type='text', name='description' value=file.description)
                        br
                        |   Category:
                        input(list='category', name='gategory', value=file.category)
                        datalist#category
                            option(value='Salmisaari')
                            option(value='Kalasatama')
                        br
                        |   Location:
                        input(list='location', name='location', value=file.location)
                        datalist#location
                            option(value='Salmisaari')
                            option(value='Kalasatama')
                            option(value='Espoo')
                            option(value='Konala')
                            option(value='Pasila')
                            option(value='Herttoniemi')
                        br
                        input(type='submit')
                    .bottom-input
                        a(href='index.pug')
                        form(method='get', action='/home')
                            input(type='submit', value='Cancel')